body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background-color: #fa8bc9;
    // background: url('../images/electron-forge.jpg') no-repeat fixed center /120px;
}